# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Models and Data
# models/*.pkl
# models/*.joblib
dataset/*.csv
!dataset/.keep
# models/*.json

# Logs
*.log
